@import "tailwindcss";

/* Softcatalà brand red — https://www.softcatala.org/premsa/imatge-corporativa/ */
@theme {
  --color-brand-100: #f9e1e1;
  --color-brand-200: #f3c4c4;
  --color-brand-300: #e99595;
  --color-brand-400: #dc5656;
  --color-brand-500: #dd0003;
  --color-brand-600: #ba2626;
  --color-brand-700: #8a0000;
}
